<tr>
  <td><%= shipment.source %></td>
  <td><%= shipment.target %></td>
  <td><%= shipment.item %></td>
  <td><%= render "shared/customers/status_form", shipment: shipment %></td>
  <td><%= shipment.delivery_partner&.name %></td>
</tr>
