<% if ['pending', 'cancelled'].any?(shipment.status) %>
  <%= turbo_frame_tag "status_form_#{shipment.id}" do %>
    <div class="dropdown">
      <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
        <%= shipment.status %>
      </button>
      <ul class="dropdown-menu">
        <%= form_with(url: update_status_shipment_path(shipment), method: :put, class: "dropdown-form") do |form| %>
          <%= form.hidden_field :status, value: "pending" %>
          <%= form.submit "Pending", class: "dropdown-item", data: { turbo_frame: "status_form_#{shipment.id}" } %>
        <% end %>

        <%= form_with(url: update_status_shipment_path(shipment), method: :put, class: "dropdown-form") do |form| %>
          <%= form.hidden_field :status, value: "cancelled" %>
          <%= form.submit "Cancelled", class: "dropdown-item", data: { turbo_frame: "status_form_#{shipment.id}" } %>
        <% end %>
      </ul>
    </div>
  <% end %>
<% else %>
  <button class="btn btn-secondary" type="button" aria-expanded="false">
    <%= shipment.status %>
  </button>
<% end %>  
